/* *{
	padding: 0;
	margin: 0;
	border: 0;
} */

body {
  font-size: 18px; 
  background-color: #592c8b;
  padding: 0;
margin: 0;
	border: 0;
}

.wrap {
    background-color: #fff;
    width: 1070px;
    margin: 0px auto;
    padding: 30px 60px; 
}

h1,
h2,
h3 {
  text-align: center;  
}

/* .conteiner {
  width: 1070px;
  margin: 0px auto;
  padding: 50px;    
} */

.main-nav {
  display: flex;
  justify-content: center;
}

.offer {
  text-align: center;
}
h1 {
  border-bottom: 5px solid #ff6b08;
  padding: 10px;
}

.main {
  margin-top: 30px;
}

.img {
  border: 1px solid gray;
  margin: 15px;
  margin-left: 30px;
}

.img-block {
  display: flex;
  justify-content: center;
}

.list li {
  margin-top: 10px;
}

.deadline {
  text-align: center;
  font-weight: 800;
}

/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.wrap {
		width: 960px;
    }   
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.wrap {
        width: 720px; 
}


/* 576px - 768px */
@media screen and (max-width: 768px) {
	.wrap {
        width: 540px;                
}

    .img {
            margin: 15px 0;
            width: 85%;
    }

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.wrap {
		width: 90%;
    }
    
}